# =========================
# .NET / C#
# =========================
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.user
*.suo
*.pidb
*.pdb
*.dll
*.exe

# SQLite databases
*.db
*.db-shm
*.db-wal

# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/
*.log
.npm/
.yarn/
package-lock.json

# =========================
# VS Code / IDE
# =========================
.vs/
.vscode/
*.code-workspace
.history/

# =========================
# System / OS
# =========================
.DS_Store
Thumbs.db
desktop.ini