<div class="home-container">
  <h1>TESTE DE ROTA FUNCIONANDO</h1>
  <h2>🚀 Bem-vindo ao Sistema Korp</h2>
  <p>Selecione uma opção no menu superior:</p>
  <div class="cards">
    <div class="card">
      <h3>📦 Produtos</h3>
      <p>Gerencie o cadastro de produtos e estoques.</p>
      <a routerLink="/products" class="btn">Ir para Produtos</a>
    </div>
    <div class="card">
      <h3>🧾 Notas Fiscais</h3>
      <p>Crie e imprima notas fiscais com controle de status.</p>
      <a routerLink="/invoices" class="btn">Ir para Notas</a>
    </div>
  </div>
</div>
